<html>
<head>	
	<%= stylesheet_link_tag "style" %>
	<h1>Listing users</h1>
</head>
<body>
<ul class="navbar">
<%= render_navigation %>
</ul>
<table>
  <tr>
    <th>Name</th>
    <th>Familyname</th>
    <th>Age</th>
    <th>Type</th>
	 <th>Comments</th>
	 <th>Picture</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.familyName %></td>
    <td><%= user.age %></td>
	 <td><%= join_userTypes(user) %></td>
	 <td><%= user.comments.length%></td>
	 <td><%= if (user.profilImgUrl != "") 
					"Yes"
				else
					"No"
			end%></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
</body>
</html>
