<%= form_for(@upload) do |upload_form| %>
  <% if @upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@upload.errors.count, "error") %> prohibited this upload from being saved:</h2>

      <ul>
      <% @upload.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= upload_form.label "Name"%><br/>
    <%= upload_form.text_field :name , :value=>"" %>
  </div>
  <div class="field">
    <%= upload_form.label "Owner" %><br/>
    <%= select :upload , :ownerId, User.all.collect {|user| [ user.id.to_s+":"+user.name+" " + user.familyName, user.id ] } %>
  </div>
  <div class="field">
    <%= upload_form.label "Group"%><br/>
  <%= select :upload, :uploadGroup, User::TYPE , {:include_blank => true} %>
</div>
  <div class="field">
    <%= upload_form.label "Upload"%><br/>
    <%= upload_form.file_field :content %>
  </div>
  <div class="field">

    <%= upload_form.label "Description"%><br/>
    <%= upload_form.text_area :description %>
  </div>
  
  <div class="form-actions">  
    <button type="submit" class="btn btn-primary">Create Upload</button>  
  </div> 
<% end %>
